@import "./theme";
@import "./animations";
@import "./typography";
@import "./mixins";

// setup the font
@font-face {
	font-family: "Ubuntu";
	src: url("/fonts/Ubuntu-Regular.ttf");
}

// Box sizing rules
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	position: relative;
	min-height: 100vh;
	font-size: 62.5%;
	font-family: "Ubuntu", "Helvetica", sans-serif;
	scroll-behavior: smooth;
}

// set core body defaults
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

// Remove the list style of the ul and ol elements with a class attribute
ul[class],
ol[class] {
	list-style: none;
}

// the A element that not have a class get the default style
a:not([class]) {
	text-decoration-skip-ink: auto;
}

// Make image easier to work
img {
	max-width: 100%;
	display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
	font: inherit;
}

// custom scroll

::-webkit-scrollbar {
	background-color: $light-color;
	width: 0.7rem;
	// border-radius: $radius;
}
::-webkit-scrollbar-thumb {
	// border-radius: $radius;
	box-shadow: 0 0 5px #0000004a;
	background-color: #3763b061;
	&:hover {
		background-color: #345ca0;
	}
}

$checked-color: #fff;

.checkbox {
	position: absolute;
	opacity: 0;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
		font-size: 1.6rem;

		&::before {
			content: "";
			margin-right: 10px;
			display: inline-block;
			vertical-align: text-top;
			width: 20px;
			height: 20px;
			border: 2px solid $main-color;
			transition: 0.3s;
		}
	}

	&:hover + label:before {
		background-color: $main-color;
	}

	&:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	&:checked + label:before {
		background-color: $main-color;
	}

	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	&:checked + label::after {
		content: "";
		position: absolute;
		left: 5px;
		top: 12px;
		background-color: $checked-color;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 $checked-color, 4px 0 0 $checked-color,
			4px -2px 0 $checked-color, 4px -4px 0 $checked-color,
			4px -6px 0 $checked-color, 4px -8px 0 $checked-color;
		transform: rotate(45deg);
	}
}
